.nav{

     margin: 0;
     padding: 0;
}
  

.nav-container{


    padding:10px 20px;
     background-color:#002f3400 ;
      border-bottom: 3x solid #fff;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
}
.mt-3{
    display: inline-block;
     margin-top: 10px;
}
.search{
     margin-left:50px;
      outline: none;
       padding-left:10px;
        width:400px;
        height: 44px;

        
        border: 2px solid #002f34;
         border-radius:4px 0px 0px 4px;

         
}
.search-btn{
    height: 44px;
    background-color:#002f34 ;
     color:#fff;
  border-radius:0px 4px 4px 0px;
   outline: none;
    border: none;
     padding:0px 15px;
  
     margin: 0px ;
}
.logout-btn{
    height: 35px;
    background-color:#002f34 ;
     color:#fff;
  border-radius:0px 4px 4px 0px;
   outline: none;
    border: none; 
    padding:1px 15px;
    margin-right: 10px;
}
.category{
    color:rgba(0,47,52,1);
     padding: 10px;
     font-size: 18px;
}
.cat-container{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    padding:8px 20px;
     cursor:pointer;

}
.login-btn{
    display: flex;
     justify-content: center;
      align-items: center;
       width: 120px;
        height: 55px;
         color: #fff;
          
    background: #0d6efd;
     border-radius:  50px;
     border: none;
      font-size: 19px;
       font-weight: 700;
        cursor: pointer;
        margin: auto;
        margin-top: 0.5%;
 }
 .drop{
    height: 50px;
     width: 100px;
     margin-left: 10px;
 }
 
 
 .span-head{
     font-size: 25px;
      color:#002f34 ;
       font-weight:bold;
     
       text-decoration: none;
 }
 