
/* AddProduct.css */

/* Style for product card */
.pcard {
  border: 1px solid #ddd;
  border-radius: 5px;

  
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 300px;
  height: 420px;
}

.pcard:hover {
  transform: translateY(-5px);
}

/* Style for product image */
.pcard img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

/* Style for product name */
.pcard .pname {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for product category */
.pcard .pcategory {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Style for product description */
.pcard .pdesc {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

/* Style for product price */
.pcard .pprice {
  font-size: 16px;
  font-weight: bold;
  color: #f00; /* Red color for price */
}
.icons{
  font-size: 32px;
  height:25px;
  width:25px;
   color: rgb(172, 165, 165);
   cursor: pointer;
}
.icons-heart{
  position: absolute;
  top: 0;
  right: 0;
  padding: 7px;
  border-radius: 50%;
  background-color: #ffffff;
   margin:7px;
   overflow-y: hidden;
}
.icons:hover{
  color: red;
}