
/* ProductDetail.css */

.product-detail-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding: 20px;
  overflow-x: hidden;
}

.product-images-container {
  width: 50%;

  
  position: relative;
}

.product-images {
  display: flex;
  width: fit-content;
}

.product-images img {
  flex-shrink: 0;
  max-width: 300px;
  height: 200px;
  margin-top: 30%;
  align-items: center;

  
}

/* Show the second product image in full */
.product-images img:nth-child(2) {
  width: 300px; /* Set the width to 100% */
  max-width: none;
   margin-left: 20px; /* Remove the maximum width constraint */
}
.product-details {
  text-align: center;
   margin-top: 20%;
    margin-left: 200px;
}
.product-details  .headline{
 
   font-weight: bold;
   color: rgb(13, 35, 173);
}

.button {
  padding: 10px 20px;
  background-color: 
  hsl(216, 98%, 52%);
  color: #fff;

  
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px 20px 20px 20px;
}

.contact-details {
  margin-top: 20px;
}
.product-details .pname {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style for product category */
.product-details .pcategory {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}

/* Style for product description */
.product-details .pdesc {
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

/* Style for product price */
.product-details .pprice {
  font-size: 16px;
  font-weight: bold;
  color: #f00; /* Red color for price */
}